import React from "react";

export interface {{pascalCase name}}Props {
  // Add your props here
}

export const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = (props) => {
  return (
    <div>
      {/* Your component code here */}
      {{pascalCase name}} component
    </div>
  );
};